<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <div class="container">
          <a (click)="acticon()" class="navbar-brand" href="notifications" routerLink="/productos">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </a>
        </div>
      </li>
      <div *ngIf="ban">
        <form class="d-flex">
          <input type="text" class="form-control" name="filterPost" placeholder="Agregar" [(ngModel)]="buscar">
          <button (click)="buscador()">Aceptar</button>
        </form>
      </div>
    </ul>
  </div>
</nav>
<div class="card" style="width: 18rem;" xmlns="http://www.w3.org/1999/html">
  <div class="card-body">
    <div class="card" *ngFor="let item of lista1">
      <img [src]="item.imagen" alt="">
      <h3>{{item.nombre}}</h3>
      <p>{{item.precio}}</p>
      <button (click)="Product1(item.id)">Ingresar</button>
    </div>
  </div>
</div>
